.footer{
    width: 100vw;
    height: 4rem;
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: medium;
    color: #fff;
}